// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}

div.node-teaser {
    width:350px;
    display: inline-block;
    margin:15px;
    vertical-align: top;
}

.inline-block {
  display: inline-block;
} 

ul.block-list, div.block-list ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.block-list li, div.block-list ul li {
  margin-bottom: 8px; 
}
