/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000331}}
.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.sgbuzz\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-header:after,
  .l-main:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000339}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000346}}
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000350}}
  .l-region--branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000353}}
  .l-region--navigation {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000361}}
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000365}}
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000368}}
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000377}}
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000381}}
  .l-region--branding {
    width: 11.39241%;
    float: left;
    margin-right: 1.26582%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: "bottom";
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000386}}
  .l-region--navigation {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: "bottom";
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000391}}
  .l-region--user {
    width: 49.36709%;
    float: right;
    margin-right: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: "bottom";
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\0000397}}
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\00003100}}
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\00003105}}
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\00003108}}
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\00003115}}
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\00003119}}
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pedro\/Projects\/themes\/sgbuzz\/sass\/layouts\/simple2\/simple2\.layout\.scss}line{font-family:\00003122}}
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
